@model IEnumerable<NimapInfotech.Models.Category>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>Category Name</th>
        <th>Actions</th>
    </tr>
    @foreach (var category in Model)
    {
        <tr>
            <td>@category.CategoryName</td>
            <td>
                <a href="@Url.Action("Edit", "Category", new { id = category.CategoryId })">Edit</a> |
                <a href="@Url.Action("Delete", "Category", new { id = category.CategoryId })">Delete</a>
            </td>
        </tr>
    }
</table>

